{% extends "html.html" %}

{% block content %}

<style>
    .role-user,
    .role-assistant {
        white-space: pre-wrap;
    }
    .role-user,
    input#query {
        color: lightgreen;
    }
    .role-assistant {
        color: darkturquoise;
        margin-left: 10px;
    }
</style>

<div class="my-4">
    <div id="chat">
    </div>
    <i id="spinner" class="bx bx-brain bx-burst bx-sm role-assistant"></i>
</div>

<div class="text-center">
    <div class="form-floating mb-3">
        <input autofocus type="text" class="form-control" id="query">
        <label for="query" class="form-label">
                Your Question
                <span class="small text-secondary">
                    &mdash;
                    <kbd class="bg-secondary">Enter</kbd> to send
                </div>
            </div>
        </label>
    </div>
    <div>
        {% set suggestions = [
            'What cloud expertise ?',
            'How many years experience ?',
            'What areas of expertise ?',
            'Fit for agile management role ?',
            'DevOps experience ?',
        ] %}
        {% for suggestion in suggestions %}
        <button data-role="suggestion" class="btn btn-outline-secondary btn-sm my-1">
            {{suggestion}}
        </button>
        {% endfor %}
        <span class="text-secondary">&middot;</span>
        <button id="clear" class="btn btn-outline-danger btn-sm">
            <i class="bx bx-trash"></i>
            Clear chat
        </button>
<!--
        <button id="share" class="btn btn-outline-info btn-sm">
            <i class="bx bx-share-alt"></i>
            Share chat
        </button>
-->
    </div>
</div>

<script>
    const config = {
        api_url: '/chat'
    }
    const ui = {
        query: document.querySelector('#query'),
        chat: document.querySelector('#chat'),
        clear: document.querySelector('#clear'),
        spinner: document.querySelector('#spinner'),
        suggestions: document.querySelectorAll('[data-role=suggestion]'),
    }

    document.addEventListener('DOMContentLoaded', e => {
        load_history();
    });
    ui.query.addEventListener('keydown', e => {
        if (e.code == 'Enter' && ![e.altGraphKey, e.altKey, e.ctrlKey, e.metaKey, e.shiftKey].includes(true)) {
            query();
        }
    });
    ui.clear.addEventListener('click', e => {
        if (confirm('Clear chat history. Are you sure ?')) {
            clear_history();
        }
    });
    for (const suggestion of ui.suggestions) {
        suggestion.addEventListener('click', e => {
            ui.query.value = suggestion.innerText;
            suggestion.hidden = true;
            query();
        });
    }

    function query() {
        const question = ui.query.value;
        if (!question.length) return;
        ui.query.value = '';
        loading(true);
        ui.chat.innerHTML += `
            <p class="role-user">${question}</p>
        `;
        fetch(
            `${config.api_url}/say/${encodeURIComponent(question)}`
        ).then(
            response => response.text()
        ).then(text => {
            ui.chat.innerHTML += `
                <p class="role-assistant">${text}</p>
            `;
            loading(false);
        })
    }

    function load_history() {
        loading(true);
        fetch(
            `${config.api_url}/history`
        ).then(
            response => response.json()
        ).then(history => {
            for (item of history) {
                // Add history item to chat UI
                ui.chat.innerHTML += `
                    <p class="role-${item.role}">${item.content}</p>
                `;
                // Remove from suggestions UI, if already asked
                for (const suggestion of ui.suggestions) {
                    if (suggestion.innerText == item.content && item.role == 'user') {
                        suggestion.hidden = true;
                    }
                }
            }
            loading(false);
        });
    }

    function clear_history() {
        loading(true);
        fetch(
            `${config.api_url}/clear`
        ).then(() => {
            ui.chat.innerHTML = '';
            for (const suggestion of ui.suggestions) suggestion.hidden = false;
            load_history();
        });
    }

    function loading(active) {
        if (active) {
            ui.query.disabled = true;
            ui.spinner.hidden = false;
            for (const suggestion of ui.suggestions) suggestion.disabled = true;
        } else {
            ui.query.disabled = false;
            ui.spinner.hidden = true;
            for (const suggestion of ui.suggestions) suggestion.disabled = false;
            scroll();
            ui.query.focus();
        }
    }

    function scroll() {
        ui.query.scrollIntoView({block: "end"});
    }
</script>

{% endblock %}
