{% extends "html.html" %}

{% block content %}

<style>
    .role-user,
    input#query {
        color: lightgreen;
    }
    .role-assistant {
        color: darkturquoise;
        margin-left: 10px;
    }
    html {
        min-height: 100%;
        background-attachment: cover;
        background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%) center center no-repeat;
        overscroll-behavior: none;
    }
    body {
        background-color: rgb(0,0,0,0);
    }
</style>

<div class="my-4">
    <div id="chat">
    </div>
    <i id="spinner" class="bx bx-brain bx-burst bx-sm role-assistant"></i>
</div>

<div class="text-center">
    <div class="form-floating mb-3">
        <input autofocus type="text" class="form-control" id="query">
        <label for="query" class="form-label">
                Your Question
                <span class="small text-secondary">
                    &mdash;
                    <kbd class="bg-secondary">Enter</kbd> to send
                </div>
            </div>
        </label>
    </div>
    <div>
        {% set suggestions = [
            'How many years experience ?',
            'What areas of expertise ?',
            'Fit for agile management role ?',
            'DevOps experience ?',
            'What certifications ?',
            'What cloud expertise ?',
            'What languages do you speak ?',
            'Please summarize your experience',
            'Please show your CV',
        ] %}
        {% for suggestion in suggestions %}
        <button data-role="suggestion" class="btn btn-outline-secondary btn-sm my-1">
            {{suggestion}}
        </button>
        {% endfor %}
        <button id="clear" class="btn btn-outline-danger btn-sm">
            <i class="bx bx-trash"></i>
            Clear chat
        </button>
<!--
        <button id="share" class="btn btn-outline-info btn-sm">
            <i class="bx bx-share-alt"></i>
            Share chat
        </button>
-->
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    const config = {
        api_url: '/chat'
    }
    const ui = {
        query: document.querySelector('#query'),
        chat: document.querySelector('#chat'),
        clear: document.querySelector('#clear'),
        spinner: document.querySelector('#spinner'),
        suggestions: document.querySelectorAll('[data-role=suggestion]'),
    }

    document.addEventListener('DOMContentLoaded', e => {
        load_history();
    });
    let history_index = 0;
    let history_current_query = '';
    ui.query.addEventListener('keydown', e => {
        if ([e.altGraphKey, e.altKey, e.ctrlKey, e.metaKey, e.shiftKey].includes(true)) {
            return;
        }
        if (e.keyCode === 13) {  // Note: Enter key, on both desktop and mobile.
            query();
        }
        if (['ArrowUp', 'ArrowDown'].includes(e.code)) {
            if (history_index == 0) history_current_query = ui.query.value;  // Note: Save current user input.
            const history = ui.chat.querySelectorAll('.role-user');
            if (e.code == 'ArrowDown') history_index = Math.min(history_index+1, 0);
            if (e.code == 'ArrowUp') history_index = Math.max(history_index-1, -history.length);
            if (history_index == 0) {
                ui.query.value = history_current_query;
            } else {
                let previous = history[history.length+history_index];
                ui.query.value = previous.textContent;
            }
        } else {
            history_index = 0;
        }
    });
    ui.clear.addEventListener('click', e => {
        if (confirm('Clear chat history. Are you sure ?')) {
            clear_history();
        }
    });
    for (const suggestion of ui.suggestions) {
        suggestion.addEventListener('click', e => {
            ui.query.value = suggestion.innerText;
            suggestion.hidden = true;
            query();
        });
    }

    function query() {
        const question = ui.query.value;
        if (!question.length) return;
        ui.query.value = '';
        loading(true);
        write_conversation({
            role: 'user',
            content: question
        });
        fetch(
            `${config.api_url}/say/${encodeURIComponent(question)}`
        ).then(
            response => response.body
        ).then(rs => {
            write_conversation({
                role: 'assistant',
                content: ''
            });
            const reader = rs.getReader();
            return new ReadableStream({
                async start(controller) {
                    let text = '';
                    while (true) {
                        const { done, value } = await reader.read();
                        if (done) break;  // When no more data needs to be consumed, break the reading
                        // Do your work: ¿¿ Checkout what value returns ¿¿
                        const chunk = new TextDecoder().decode(value);
                        text += chunk;
                        // ui.chat.children[ui.chat.children.length-1].innerHTML += chunk;
                        ui.chat.children[ui.chat.children.length-1].remove();
                        write_conversation({
                            role: 'assistant',
                            content: text
                        });
                        // Optionally append the value if you need the full blob later.
                        // controller.enqueue(value);
                    }
                    // Close the stream
                    controller.close();
                    reader.releaseLock();
                    loading(false);
                }
            });
        });
        // ).then(
        //     response => response.text()
        // ).then(text => {
        //     write_conversation({
        //         role: 'assistant',
        //         content: text
        //     });
        //     loading(false);
        // });
    }

    function load_history() {
        loading(true);
        fetch(
            `${config.api_url}/history`
        ).then(
            response => response.json()
        ).then(history => {
            for (item of history) {
                // Add history item to chat UI
                write_conversation(item);
            }
            loading(false);
        });
    }

    function clear_history() {
        loading(true);
        fetch(
            `${config.api_url}/clear`
        ).then(() => {
            ui.chat.innerHTML = '';
            load_history();
            for (const suggestion of ui.suggestions) suggestion.hidden = false;
        });
    }

    function write_conversation(item) {
        ui.chat.innerHTML += `
            <div class="role-${item.role}">${marked.parse(item.content)}</div>
        `;
        // Remove from suggestions UI, if already asked
        for (const suggestion of ui.suggestions) {
            if (suggestion.innerText == item.content && item.role == 'user') {
                suggestion.hidden = true;
            }
        }
    }

    function loading(active) {
        if (active) {
            ui.query.disabled = true;
            ui.spinner.hidden = false;
            for (const suggestion of ui.suggestions) suggestion.disabled = true;
        } else {
            ui.query.disabled = false;
            ui.spinner.hidden = true;
            for (const suggestion of ui.suggestions) suggestion.disabled = false;
            scroll();
            if (window.navigator.maxTouchPoints < 1) {
                // Note: Only focus on non-touchscreen devices, to avoid displaying the keyboard.
                ui.query.focus();
            }
        }
    }

    function scroll() {
        ui.query.scrollIntoView({block: "end"});
    }
</script>

{% endblock %}
